* {
    text-align: center; 

}

body {
    font-family: Arial, Helvetica, sans-serif;
}


ul, ol {

    margin: 0 auto; 
    max-width: 600px; 
}

ul li, ol li {
    text-align: left; 
    margin-bottom: 10px; 
}

figure {
    margin: 0 auto 20px auto; 
    max-width: 600px; 
}

figcaption {
    margin-top: 10px; 
    font-size: 0.9em; 
    color: #555; 
}

.ing,
.steps{
    color: rgb(255, 0, 111);
}

